body{
    font-family: Arial,sans-serif;
    background-color: hsla(198, 100%, 64%, 0.777);
}
h1{
    color:hsla(310, 93%, 38%, 0.97);
}
form{
    background-color: hsla(0, 0%, 100%, 0.889);
    text-align: center;
    max-width: 350px;
    margin:auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow:5px 5px 10px;
}
#textBox{
    width:50%;
    text-align: center;
    font-size: 2em;
    border:2px solid hsla(0,0%,0%,0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top:15px;
    background-color: hsl(274, 81%, 52%);
    color:white;
    font-size:1.5em;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
button:hover{
    background-color: hsl(290, 73%, 51%);
}
#result{
    font-size:1.75em;
    font-weight:bold;
}